@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --white: rgb(252, 252, 252);
    --black: rgb(78, 78, 78);
    --mainColor: rgb(165, 84, 118);
    --mainColor2: rgb(78, 137, 146);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding-bottom: 10rem;
    position: relative;
    font-family: 'Nunito', sans-serif;
    background-color: var(--white);
    color: var(--black);
}

h1 {
    font-weight: bold;
    color: var(--mainColor2);
    text-align: center;
    margin: 1rem;
}

h2 {
    color: var(--black);
    margin: 1rem;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background-color: var(--mainColor2);
}

/*
 * Menu
 */
nav span {
    display: none;
}

nav {
    background-color: var(--mainColor);
    box-shadow: 0 3px 5px #dbdbdb;
    display: flex;
    justify-content: space-between;
}

nav div {
    display: inline-block;
    width: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav form {
    display: inline-block;
    padding: 0.4rem 0;
}

nav a {
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 0.5rem 1rem;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 300ms;
}

nav a:hover {
    border-bottom: 3px solid var(--white);
}

input[type=search] {
    margin-left: 2rem;
    width: 18rem;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 15px;
    background-color: var(--white);
    color: #8d8d8d;
}

input[type=search]:focus {
    outline: none;
}

nav button {
    padding: 0.3rem 0.5rem;
    background-color: transparent;
    border: none;
    color: var(--white);
    transition: color 200ms;
}

nav button:hover {
    color: rgb(52, 52, 52);
    cursor: pointer;
}

.center {
    text-align: center;
}

/*
 * Card (small)
 */
.card_container {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    border-radius: 10px;
    margin: 1rem;
    width: 10rem;
    height: 15rem;
    background-size: cover;
}

.card h3 {
    overflow-wrap: break-word;
    max-width: 100%;
    background-color: #aed2e8;
    color: var(--white);
    box-shadow: 6px 7px 2px -2px rgba(0, 0, 0, 0.48);
    border-radius: 15px 5px 5px 0;
    position: absolute;
    bottom: 0.8rem;
    left: -0.5rem;
    padding: 0.2rem 0.3rem 0.2rem 0.5rem;
    transform: translateY(0);
    transition: transform 200ms;
}

.link {
    z-index: 10;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.link:hover h3 {
    transform: translateY(-10px);
}

.show_more {
    color: gray;
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    text-decoration: none;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid gray;
    transition: border-bottom-color 200ms, color 200ms;
}

.show_more:hover {
    color: var(--black);
    border-bottom-color: var(--black);
}

/*
 * Card (full page)
 */
.card_info {
    font-size: 1.2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.card_info > div {
    width: 60rem;
    max-width: 95%;
    border: 2px solid #a7a7a7;
    border-radius: 30px;
    padding-bottom: 2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.card_info .card {
    width: 14rem;
    height: 20rem;
}

#text {
    padding-top: 2rem;
    width: 70%;
}

.card_info p {
    color: var(--mainColor);
    margin: 1rem;
}

.card_info span {
    color: var(--black);
}

.card_info .kind {
    background-color: var(--mainColor2);
    color: var(--white);
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
}

/*
 * See All
 */
.filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.filter select {
    padding: 0.3rem 0.5rem;
    background-color: var(--white);
    border: 2px solid var(--mainColor);
}

.seeAll a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--mainColor2);
    color: var(--white);
    text-decoration: none;
    transition: background-color 300ms;
}

.seeAll a:hover {
    background-color: #4a6468;
}

button.seeAll {
    display: none;
}

/*
 * Connection / register
 */
form h2 {
    color: var(--mainColor);
}

#register, #connection {
    padding: 1rem;
    border: 2px solid var(--mainColor2);
    border-radius: 15px;
    width: 30rem;
    max-width: 100%;
    margin: 2rem auto;
}

form input:not([type=submit], [type=search]) {
    font-size: 1rem;
    display: block;
    padding: 0.3rem 0.5rem;
    width: 20rem;
    margin: 2rem;
    color: #8d8d8d;
}

form input:not([type=submit], [type=search]):focus {
    outline: none;
}

form input[type=submit] {
    margin-left: 2rem;
    padding: 0.3rem 0.5rem 0.4rem 0.5rem;
    background-color: var(--mainColor);
    border: none;
    color: var(--white);
}

p.createAccount {
    text-align: center;
}

span.createAccount {
    font-weight: bold;
    text-decoration: underline;
}

span.createAccount:hover {
    cursor: pointer;
}

#register {
    display: none;
}

/*
 * Account
 */
.account .flex {
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.library, .card_com, .follow {
    border: 1px solid gray;
    margin: 1rem;
    padding: 0.5rem;
    max-width: 90%;
}

.library {
    min-width: 40rem;
}

.card_com {
    min-width: 30rem;
}

.follow {
    min-width: 10rem;
}

/*
 * RESPONSIVE
 */

/*
 * Menu
 */
@media screen and (max-width: 1000px) {
    nav div {
        display: none;
    }

    nav span {
        display: inline-block;
    }

    nav span i {
        color: var(--white);
        padding: 0.5rem 0.7rem;
        font-size: 1.3rem;
    }

    nav div {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 2rem;
        background-color: var(--mainColor);
        width: 10rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav a {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 530px) {
    input[type=search] {
        margin-left: 0.8rem;
        width: 14rem;
    }

    nav div {
        width: 7rem;
        font-size: 1rem;
    }

    .filter {
        flex-direction: column;
    }
}

/*
 * Card | Card (full page)
 */
@media screen and (max-width: 755px) {

    .card {
        width: 8rem;
        height: 13rem;
        margin: 0.5rem;
    }

    .card h3 {
        font-size: 1rem;
    }

    .flex {
        flex-direction: column;
    }

    #text {
        width: 95%;
    }

}

/*
 * Card (full page)
 */
@media screen and (max-width: 890px) {

    .card_info {
        font-size: 1rem;
    }

    .card_info .card {
        width: 10rem;
        height: 15rem;
    }

}

/*
 * Connection / Register | Card (full page)
 */
@media screen and (max-width: 500px) {

    form input:not([type=submit], [type=search]) {
        width: 80%;
    }

    #register, #connection {
        width: 90%;
    }

    .card_info > div {
        border: none;
    }

}